#inputBox {
  width: 270px;
}

#title_img {
  background-image:url(title.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

#expectedText {
  text-align: center;
  color: black;
}

#box {
  position: fixed;
  top: 80%;
  left: 50%;
  margin-top: -50px;
  margin-left: -180px;
  border-width: 10px;
  border-color: white;
  background-color: white;
  padding: 40px;
  padding-top: 10px;
  border-radius: 25px;
}

#div {
  border-radius: 50px solid black;
}

body {
  background-image:url(spdrcr.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

